<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet/less" href="less/style.less">
	<script src="js/libs/less-1.2.1.min.js"></script>
	
	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	<link rel="stylesheet/less" href="less/style.css">
	 -->

	<script src="js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">C++11 Compiler Support Matrix</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome!</h1>
        <p>This is a simple website that hopes to simplify the process of finding out what C++11 features are supported by the compiler(s) that you use.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2 class='center' >Compilers</h2>
           <form class="form-horizontal" method="" >
               <fieldset id="compilerVersions">
                    {% for compiler in compilers %}
                    <div class="control-group">
                        <label class="control-label" for="inlineCheckboxes">
                            {{ compiler.name }}
                        </label>
                        <div class='controls'>
                          {% for version in compiler.versions %}
                          <label class='compilerCheckbox checkbox inline'>
                            <input 
                              type='checkbox'
                              id='{{ compiler.shortname }}{{ version.altnum }}check'
                              value='{{ compiler.shortname }}{{ version.altnum }}'
                              checked > {{ version.num }}
                          </label>
                          {% endfor %}
                          <p class='help-block'>
                            Select versions of {{ compiler.name }} to include in the table
                          </p>
                        </div>
                    </div>
                    {% endfor %}
                    <button class='btn show-all'>Show All</button>
                    <button class='btn show-none'>Show None</button>
               </fieldset>
           </form>
        </div>
        <div class="span6">
          <h2 class='center'>Display</h2>
          <form class="form-horizontal">
               <fieldset>
                   <div class="control-group">
                       <label class='control-label'>Feature filtering</label>
                       <div class='controls'>
                           <label class='radio'>
                               <input 
                                type='radio' 
                                name='displayRequirements'
                                id='displayRequirementsNone' 
                                value='none' 
                                checked
                                > Show all features
                           </label>
                           <label class='radio'>
                               <input 
                                type='radio' 
                                name='displayRequirements' 
                                id='displayRequirementsOne' 
                                value='one'
                                > Show features supported by at least one compiler
                           </label>
                           <label class='radio'>
                               <input 
                                type='radio' 
                                name='displayRequirements' 
                                id='displayRequirementsAll' 
                                value='all'
                                > Show features supported by all compilers
                           </label>
                       </div>
                   </div>
               </fieldset>
          </form>
       </div>
     </div>
     <div class='row'>
         <div class='span12'>
             <h2>Support</h2>
             <table class='table table-bordered'>
                 <thead id='coreLanguageHeader'>
                     <th>Feature</th>
                     {% for compiler in compilers %}
                     {% for version in compiler.versions %}
                     <th data-compilerid='{{ compiler.shortname }}{{ version.altnum }}'>
                         {{ compiler.name }} {{ version.num }}
                     </th>
                     {% endfor %}
                     {% endfor %}
                 </thead>
                 <tbody id='coreLanguageBody'>
                     {% for feature in features %}
                     <tr>
                         <td>{{ feature.name }}</td>
                         {% for support in feature.support %}
                         {% if support.supported %}
                         <td 
                             class='alert-success' 
                             data-compilerid='{{ support.id }}'
                             data-supported='true'
                             data-hidden='false'
                             > Yes
                         </td>
                         {% else %}
                         <td 
                             class='alert-error' 
                             data-compilerid='{{ support.id }}'
                             data-supported='false'
                             data-hidden='false'
                             > No
                         </td>
                         {% endif %}
                         {% endfor %}
                     </tr>
                     {% endfor %}
                 </tbody>
             </table>
         </div>
     </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<script src="js/libs/bootstrap/transition.js"></script>
<script src="js/libs/bootstrap/collapse.js"></script>

<script data-main="js/main" src="js/libs/require.js"></script>
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
